.example-chip-list {
  width: 40%;
  margin: 50px auto;
}

.chip{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: yellow;
  margin-top: 200px !important;
}

.item{
  margin: 10px;
}

